<body><h1>Banned.</h1></body>
<script>
    wiiuErrorViewer.openByCodeAndMessage(598001, 'You are currently banned from NoNameVerse. If you have questions, visit the discord server for help.');
    wiiuBrowser.closeApplication();
</script>