<div id="sidebar">
    <a>Profile</a>
    <a href="./pages/post">Post</a>
    <a>Activity Feed</a>
    <% if (!homePage) {%>
        <a onclick="history.back()" style="cursor: pointer;">Back</a>
    <%} else {%>
        <a href="https://google.com" style="cursor: pointer;">Exit</a>
    <% } %>
   
</div>