<div id="sidebar">
    <a id="mii"><img src="../../../../img/prodtest1.png" width="64" height="64"></a>

    <a href="../../../../../../../../">w</a>
    <a>c</a>
    <a>m</a>
    <% if (!homePage) {%>
        <a id="backexit" onclick="history.back()" style="cursor: pointer;">b</a>
    <%} else {%>
        <a id="backexit" href="https://google.com" style="cursor: pointer;">x</a>
    <% } %>
</div>