<div class="titleHeader">

    <div class="titleHeaderbg"></div>
    <% if (community) {%>
        <img class="titleIcon" src="../../../../img/icons/<%= community.community_id %>.jpg" width="100px">
    <%}%>
    
    <div class="titleMeta" >
        <%= title + " Community" %>
        <br>
        <div class="titleDescription"><%= community.description %></div>

        
    </div>

    <button class="favorite_community">s</button>
</div>