<body><h1>You are banned. Reason : <%= reason %></h1></body>
<script>
    wiiuErrorViewer.openByCodeAndMessage(1000000, 'You are currently banned from Sapphire. \n \n Reason: <%= reason %>. \n \n If you have questions, visit the discord server for help.');
    wiiuBrowser.closeApplication();
</script>