<body><h1>You shouldn't be here..</h1></body>
<script>
    wiiuErrorViewer.openByCodeAndMessage(1000001, 'You are not authorized to be in this page. \n \n If you feel as if this is a bug, please report it in the discord server.');
    wiiuBrowser.closeApplication();
</script>