<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoNameVerse</title>
    <link rel="stylesheet" href="../../css/nonameverse.css">
    <link rel="stylesheet" href="../../css/show.css">
    <link rel="stylesheet" href="../../css/community.css">
    <link rel="stylesheet" href="../../css/user.css">
</head>

<script src="../../../../../js/nonameverse.js"></script>

<script>
    init_account_data('<%- JSON.stringify(account) %>')
</script>