.favorite_community {
    font-family: MiiverseSymbols;

    font-size: 25px;

    z-index: 4;

    width: 75px;
    height: 75px;

    font-size: 35px;

    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgb(221, 221, 221) 100%);

    border-radius: 15px;
    border: 1px rgb(201, 201, 201) solid;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    color: gray;

    margin: 0px;

    display: inline-block;
}

.spoiler_button {
    display: none;
    
    width: 800px;
    height: 95px;

    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgb(221, 221, 221) 100%);
    border-radius: 15px;
    border: 1px rgb(201, 201, 201) solid;

    font-size: 25px;
}

.more_posts {
    display: inline-block;
    
    width: 400px;
    height: 65px;

    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgb(221, 221, 221) 100%);
    border-radius: 15px;
    border: 1px rgb(201, 201, 201) solid;

    font-size: 25px;

    margin: 0px;
    margin-left: 324px;
    margin-top: 25px;
    margin-bottom: 25px;
}