@font-face {
    font-family: MiiverseSymbols;
    src: url('./MiiverseSymbols-Regular.ttf');
}

/* navbar */

#sidebar {
    background-color: #58a7db;

    display: block;
    position: fixed;

    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;

    z-index: 5;

    left: 0px;

    height:100%;
    width: 13%;

    margin: 0px;
    margin-top: 0px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.7);

    font-size: 75px;
}

#sidebar ul {
    margin: 0px;
    list-style: none;

    padding: 0px;

    text-align: center;
    height: 100%;;
    width: 100%;
}

#sidebar li {
    padding-top: 10px;
}

#sidebar a {

    font-family: MiiverseSymbols;
    color: rgb(255, 255, 255);

    text-align: center;
    width: 100%;

    text-decoration: none;
    display: block;

    margin-bottom: 10px;
    text-align: center;
}

#backexit {
    float: none;
}

#mii img {
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* basic stuff */

html, body {
    margin: 0px;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAADwBAMAAADMe/ShAAAAHlBMVEX29vb09PTy8vL19fXz8/Px8fHw8PDv7+/u7u739/dHdNvrAAACSElEQVR4AezYNX7DMBiGcafcKTRlC0hdy7T1Z7iAcS5YOkEl38DeQlNOW24YX63fsxr+Ztm2RmvjMiu2bWbOXPmjtW2A7S8YKlfMCK4lKPzeMoJvYhROHYIJno9gggkmmGCCCSaYYIIJJphgggkmGP/PZQZf4XDHCK5JFFYtE7hXkwWYap0awEMPh8NHA7jPNQprv2EAH5zh8MsTDo9vY/xGxuCeLXFYsVMY7nNZwCm/AcM3scZhnTooPBwfafBYP4JwiZvBfgWDh7Xxkc71DmXjY916hOAbLrMxK7ZuTOfKdxC4ZMf6z1Ui2iEh/2Sdssru8L4dy+zXFVGbuVtntyPxK+cqZRc7wr1Ll0v95/qser1DVZv/yVr5bv10Bczq+ML4Rl/als/ww4WfJptbwuACMbgwhaUVfkvgt6LU1icpdkAAAADAEEz/1EKshHOBgMAnwZ7gNgG9DEwybTKpyZiLRCT6ItqUCJuIYqKoosaJlEsMJBki+ZOElwRfkpqSuElcS9Qnd4LcGN3enRUACMRQDFSDJRzg3wIKuNnNzygYA83rGbx9g1cwGAwGg8FgMBgMBoPBYDAYDAaDwWAwGAwGg8FgMBgMBoPB/bFgfx7ZH4TWJ7DB0W9w5hwcdgen7MHxfp8r9IFGkKQEEU6WHWWhVZaWZTFdlg9mwWSdiAZRbJABB+FzkHoHcXuQ82cDBtlkQzVSkc1yZEMk2fRKNjZTzetkg0LlhJK1KjAYDAaDwWAwGAwGg8FgcAD3L/H6J4DLS/j67eEOl9GYoKbAV2YAAAAASUVORK5CYII=');
    justify-content:left;
    flex-direction:row;

    color: black;
}

table, th, td, tr {
    border: 2px black solid;
}

content {
    width: 100%;
    display: block;
}

content > * > *, content > *, content > * > * > *  {
    margin-left: 15%;
}

.titleHeader {
    width: 100%;
    margin: 0px;

    height: 20px;

    position: fixed;
    top: 0;

    padding-top: 30px;
    padding-bottom: 30px;

    color: black;

    font-size: 25px;
    font-weight:900;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

    border-bottom: 2px rgb(177, 177, 177) solid;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e0e0e0",GradientType=1);

    z-index: 1;
}

.titleName, .titlename b {
    width: 100%;
    float: left;
    height: 20px;
}

.titleBanner {
    margin-left: 13%;
    margin-top: 80px;
    margin-bottom: 0px;
}

.titleData {
    position: relative;
    display: block;
    bottom: 4px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e0e0e0",GradientType=1);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

    margin-left: 13%;

    padding-bottom: -20px;

    border-top: 2px rgb(177, 177, 177) solid;;
    border-bottom: 2px rgb(177, 177, 177) solid;
}

.titleMetaWrapper {
    margin: 0px;
    width: 100%;
    position: relative;

    bottom: 110px
}

.titleMetaWrapper > * {
    margin-left: 15%;
    font-size: x-large;
}

.titleMetaDescription {
    display: block;
    color:grey;
    font-size: large;
}

.titleIcon {
    position: relative;
    bottom: 70px;
    margin-left: 3%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

    border: white 8px solid;
    border-radius: 10px;
}

.postsWrapper ul, .postsWrapper li, .post {
    margin: 0px;
    padding-left: 0px;
    list-style: none;

    float: left;
}

.postsWrapper ul {
    width: 100%;
}

.postsWrapper ul li {
    position: relative;
    display: block;
    margin-top: 30px;
    width: 100%;
}

.postsWrapper ul li img {
    margin-right: 20px;
}

.postsWrapper ul li img {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e0e0e0",GradientType=1);

    border-radius: 15px;
    border-bottom: 3px rgb(150, 150, 150) solid;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

    display: inline;
    position: relative;

    float: left;
}

.post {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e0e0e0",GradientType=1);

    border-radius: 15px;
    border-bottom: 3px rgb(150, 150, 150) solid;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

    padding: 25px;

    font-size: x-large;

    width: 65%;
}

.post span {
    position: relative;
}

.post img {
    border-radius: 10px;

    border-bottom: 2px rgb(150, 150, 150) solid;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}