.new_communities {
    margin-top: 75px;
    margin-bottom: 30px;

    width: 1025px;
    padding: 15px;

    border-radius: 10px;

    background: -webkit-linear-gradient(30deg, #58a7db, #46799b);
    background-image: -webkit-linear-gradient(30deg, rgba(98, 161, 202, 0.8), rgba(123, 187, 230, 0.4)), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAAAAAAfl4auAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfnCRoSLzWuLN9AAAAA4ElEQVRIx+2Vyw7DIAwEvcD//25PeHvoIdiAUYQqpRUcsx4ck8fgJc0ia6XMFnIG2gtJNtaBfxZGVIwFvNOZjIp9mly6gG1caEJlNDUViglMKgkA0veHkKTU1H5XpdoYSBj3JlUo2m59wZ8dkCesgKjuyMzMAiRMHx40qYVdKRCcVxd2sEhEh/C95d+wuDp8w/Y6H/jAB/4fGHH1N/9hG5aMNdmFxY7hPWhZ79CSr8MYeNCxzqEXPPSg2K2dQ9vbHnjQ7eAcambuPehY59Dk4oXobPwYS8aa5ALe6nzgx8JvdaBrc8TMYTAAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjMtMDktMjZUMTg6NDc6MzUrMDA6MDAltN3oAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIzLTA5LTI2VDE4OjQ3OjM1KzAwOjAwVOllVAAAAABJRU5ErkJggg==');

    color: white;

    font-size: 25px;

    text-indent: 10px;
}

.communities {
    margin-left: 190px;
}

.announcement_banner {
    width: 1280px;
    padding-bottom: 20px;
    padding-top: 16px;

    position: absolute;
    top: 0;

    margin: 0;

    background-image: -webkit-linear-gradient(rgb(207, 215, 226), rgb(139, 173, 211));
    border-bottom: rgb(123, 143, 167) 2px solid;

    margin-bottom: 35px;
}

.announcement_text {
    margin-left: 200px;
    font-size: 28px;

    color: rgb(255, 255, 255);
    text-shadow: rgb(129, 129, 129) 0px -1px;

    padding-bottom: 16px;
    padding-top: 10px;

    font-weight: bold;
}

.community {
    border: none;
    border-bottom: rgb(196, 196, 196) dashed 2px;
}

.arrow {
    display: inline-block;
    font-family: MiiverseSymbols;

    font-size: 25px;

    z-index: 4;

    position: relative;

    vertical-align: middle;

    font-size: 30px;

    padding: 20px;

    padding-left: 30px;
    padding-right: 30px;

    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgb(221, 221, 221) 100%);
    text-shadow: #46799b 0px -1px;

    color: #58a7db;
    border-radius: 50px;
    border: 1px rgb(201, 201, 201) solid;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    text-align: center;

    text-decoration: none;

    border-bottom: 2px rgb(170, 170, 170) solid;
}

.favorited_community {
    color: #F7A642;
}

.community_sort_by {

    float: right;
    position: relative;

    position: absolute;

    margin: 0;
    left: 1125px;

    height: 72px;
    width: 200px;
    top: 0;

    font-size: 25px;

    color: rgb(51, 78, 119);
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.all_communities {
    position: absolute;
    top: 0;
    right: 0;
}

.community_user_count {
    display: block;
    border-radius: 50px;
    width: 150px;
    height: 25px;

    background-color: #B3B0B3;
    font-size: 19px;
    color: white;
    font-weight: 900;
    font-family: MiiverseSymbols;

    text-indent: 10px;
}