.user_header {
    margin: 0;

    position: relative;
    top: 72px;
}

.user_banner {
    margin: 0;
}

.user_info {
    position: relative;

    bottom: 195px;

    margin-left: 210px;
}

.user_mii {
    margin: 0;

    border-radius: 15px;
    border: 1px rgb(214, 214, 214) solid;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    display: inline-block;
    vertical-align: middle;
}

.user_nnid {
    display: inline-block;
    vertical-align: middle;

    color: gray;
    font-size: 18px;

    margin: 0px;
    margin-left: 5px;
}

.user_name {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 25px;

    margin: 0px;
    margin-left: 5px;
}

.user_meta {
    display: inline-block;
    margin: 0;

    vertical-align: middle;
}

.user_stats {
    margin: 0;
    position: relative;
    margin-right: 25px;

    height: 135px;
    width: 350px;

    background: -webkit-linear-gradient(90deg, #03B7FF, #A5E5FF);

    border: 2px solid #01B0F0;

    border-radius: 10px;

    float: right;
}

.posts_wrapper {
    bottom: 100px;
}

.user_stat {
    display: inline-block;

    width: 200px;
    
    padding-top: 2px;
    padding-bottom: 2px;

    text-align: center;

    color: white;
    background-color: gray;
    border-radius: 25px;
}

.user_stats_table tr td {
    padding-bottom: 4px;
}

.profile_settings {
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgb(235, 235, 235) 100%);

    border-radius: 10px;

    width: 200px;
    padding-bottom: 25px;
    padding-bottom: 25px;

    padding: 5px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

    font-size: 20px;

    text-align: center;

    margin-left: 600px;
    
    position: relative;
    bottom: 25px;
}

.profile_settings .symbols {
    background: -webkit-radial-gradient(#75c5fa, #5ca3d3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: white;
    text-shadow: 0px 3px 3px rgba(192, 192, 192, 0.5);

    font-size: 35px;

    display: inline-block;

    vertical-align: middle;
}