<%- include('../../partials/header') %>

<body onload="newUser()">
    <div class="nuBox">
        <h1><%= language.newUser.welcomeHeader %></h1>
        <span><%= language.newUser.welcome %></span>
        <br>
    </div>


    <a class="nuNext" href="newUser/1">Next</a>
</body>