<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="PenisVerse"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="PenisVerse description"/>

    <meta property="description" content="PenisVerse">

    <meta name="theme-color" content="#8443b5"/>

    <title>PenisVerse</title>
</head>

<script>
    function CreateAccount() {

        console.log("Sending Fetch Request..")

        const nnid = document.getElementById('nnidField').value
        const password = document.getElementById('passwordField').value
        const token = password.toString(2)

        fetch('http://192.168.1.48:80/v1/people/', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "nnid": nnid,
                "password": password,
                "token": token
        }}).then(response => response.status).then((status) => {
            switch(status) {
                case 200:
                    console.log("Account Successfully created!")

                    document.cookie = `token=${token}`
                    document.cookie = `nnid=${nnid}`
                    document.cookie = `password=${password}`

                    window.location.href = "/pages/home"
                default:
                    console.log("Error!!!")
            }
        })
    }
</script>

<body>
    <h1>Hello! Welcome to a PenisVerse</h1>
    <h2>Sign Up!</h2>

    <a href="http://192.168.1.49:80/signin">Already have an account?</a>
    
    <input id="nnidField" placeholder="NNID..">
    <input type="password" id="passwordField" placeholder="Password..">

    <button onclick="CreateAccount()">Create Account</button>
</body>
</html>