<%- include('../partials/header.ejs') %>

<body>
    <div class="post_box">
        <textarea placeholder="Content.." id="bodyInput" class="content_input"></textarea>
        <button onclick="submitPost(<%= title_id %>)">Send</button>
    </div>
    
</body>

<script>wiiuBrowser.endStartUp();</script>