<%- include('../partials/header.ejs') %>

<body>
    <div class="post_box">
        <div class="post_header">Post to Nintendo Land</div>
        
        <textarea class="post_input" placeholder="Tap here to make a post." ></textarea>

        <button onclick="history.back()">Back</button>
    </div>
</body>

<script>wiiuBrowser.endStartUp();</script>