<%- include('../partials/header.ejs') %>


<body>
    <main>
        <%- include('../partials/sidebar.ejs', {
            homePage : false
        }) %>        
        <content>
            <textarea placeholder="Post Content" id="postInput" maxlength="1000"></textarea>
            <input placeholder="Community ID.." id="community_input" maxlength="3">
            <button onclick="Post()">Post!</button>
        </content>
    </main>
</body>

