<%- include('../partials/header', {
    account_needed : false
}) %>

<body onload="newUser()">
    <div class="nuBox">
        <h1><%= language.newUser.welcomeHeader %></h1>
        <span><%= language.newUser.welcome %></span>
        <br>
    </div>

    <a onclick="wiiuSound.playSoundByName('SE_WAVE_MENU', 1);" class="nuNext" href="../setup/02">Next</a>
</body>