<%- include('../partials/header', {
    account_needed : false
}) %>


<body>
    <div class="nuBox">
        <h1><%= language.newUser.nnidSetupHeader %></h1>
        <span><%= language.newUser.nnidSetup %></span>
        <br>
        <input id="nnidInput" keyboard="nnid" maxlength="30" class="nunnidInput" placeholder="NNID..">
    </div>

    <a onclick="wiiuSound.playSoundByName('SE_WAVE_MENU', 1); history.back();" class="nuBack" href="javascript:void(0)">Back</a>
    <a onclick="wiiuSound.playSoundByName('SE_WAVE_MENU', 1); submitUser();" class="nuNext" href="javascript:void(0)">Next</a>
</body>