<% if (account.admin == true) { %>
    <a href="http://192.168.1.49:80/signin" onclick="document.cookie = `name=''`; document.cookie = `password=''`; document.cookie = `token=''` ">Sign out?</a>
<% } %>